{
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"printWidth": 125,
	"overrides": [
		{
			"files": ".json",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": [".prettierrc", ".eslintrc", ".babelrc"],
			"options": {
				"parser": "json"
			}
		}
	]
}
